:root {
  font-family: "Inter", sans-serif;
  height: 100%;
  min-height: 100svh;
  background-color: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
